html {
  width: 100%;
  height: 100%;
}

body {
//  display: flex;
  font-family: sans-serif;
  text-align: center;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
//  justify-content: center; /* Centers horizontally */
  align-items: center;
}

.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 10px;
}
.cx58 {
  color: var(--cx58-color);
  margin: 10px;
  font-size: 1.1em;
}
.bg_oidc {
  background-color: var(--bg-oidc);
}