.login_logout_button {
    margin: 0 10px;
    background: var(--wrapper-bcolor);
    color: var(--h-textcolor);
    padding: 5px;
    border-radius: 5px;
}
.login_logout_button:hover {
    background: var(--border-bcolor);
}

.sign-out {
    right: 5px;
    position: absolute;
    top: 5px;
}

.sign {
    display: inline-block;
    color: var(--text-color);
    line-height: 28px;
    border-radius: 5px;
    border: none;
    text-decoration: none;
}
.sign:hover {
    color: var(--cx58-color);
    background: var(--f-color);
}

.sign i {
    margin: 5px;
}
.sign span {
    margin-right: 5px;
}
