.chat-container {
    display: flex;
    flex-direction: column;
    height: 95vh;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    gap: 10px;
}

.chat-history {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 0;
    width: 70vw;
    padding: 1rem;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;

    &::-webkit-scrollbar {
        width: 8px;
    }
    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    &::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 4px;
    }
    &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    .message {
        padding: 6px 10px;
        margin: 10px;
        border-radius: 8px;
        flex-basis: max-content;
        flex-shrink: 1;
    }
    .user {
        text-align: right;
        background: #d7f7ff;
        align-self: end;
        max-width: 60%;
    }
    .bot {
        text-align: left;
        background: #eee;
        white-space: pre-wrap;
        align-self: start;
        max-width: 95%;
    }
}
.chat-input {
    display: flex;
    flex-basis: 15%;
    width: 75%;
    position: relative;
    align-self: center;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 13px;

    .chat-input-form {
        width: 100%;
        margin-top: 15px;

        .input-zone {
            width: 98%;
            height: calc(100% - 30px);
            margin: 0 5px;
            border: none;
            resize: none;
            outline: none;
        }

        .input-submit {
            position: absolute;
            bottom: 1px;
            right: 5px;
            height: 25px;
            width: 25px;
            line-height: 17px;
            border-style: solid;
            border-width: unset;
            border-radius: 50%;
            padding-block: 0;
            padding-inline: 0;
            color: #fff;
            background-color: var(--cx58-color);
            border-color: var(--cx58-color);
        }
        .input-submit:hover {
            border-width: medium;
            color: var(--cx58-color);
            background-color: transparent;
        }
    }
    .node-info-section {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        font: menu;

        .node-info-leafs {
            margin-left: 10px;
            flex-direction: column;
        }
        .delete-btn {
            margin: 0;
            padding: 0;
            border: none;
            background: transparent;
            color: red;
            cursor: pointer;
        }
        i {
            margin-right: 4px;
        }

    }
}
.tree-loader {
    animation: l5 1s infinite linear alternate;
}

.loader {
    width: 10px;
    height: 10px;
    position: absolute;
    top: 5px;
    left: 28px;
    aspect-ratio: 1;
    border-radius: 50%;
    animation: l5 1s infinite linear alternate;
}
@keyframes l5 {
    0% {
        box-shadow:
            20px 0 #000,
            -20px 0 #0002;
        background: #000;
    }
    33% {
        box-shadow:
            20px 0 #000,
            -20px 0 #0002;
        background: #0002;
    }
    66% {
        box-shadow:
            20px 0 #0002,
            -20px 0 #000;
        background: #0002;
    }
    100% {
        box-shadow:
            20px 0 #0002,
            -20px 0 #000;
        background: #000;
    }
}

.right5 {
    margin-right: 5px;
}