.lang {
    position: absolute;
    top: 10px;
    right: 30px;

    .lang-list {
        position: relative;
        display: flex;
        color: var(--text-color);
        flex-direction: column;
        align-items: flex-start;
        appearance: none;
        padding: 2px;
        border: none;
        border-color: transparent;
    }
    .lang-list:hover {
        color: var(--cx58-color);
        border: 2px solid var(--cx58-color);
        border-radius: 3px;
    }

    .lang-item {
        font-size: 14px;
        color: var(--text-color);
        cursor: pointer;
        padding: 5px 10px;
        border-radius: 3px;
        transition: background-color 0.2s ease;

        &:hover {
            color: #fff;
            background-color: var(--cx58-color);
        }
    }
}
