.sb-wrapper {
    display: flex;
    width: 100vw;
    height: 100vh;
    background: var(--wrapper-bcolor);
}

/* Left pane */
.sb-sidebar {
    //flex: 0 0 var(--sidebar-width);
    flex-direction: column;
    background: var(--sidebar-bcolor);
    display: flex;
    align-items: center;
    justify-content: start;
    white-space: nowrap;
    transition:
        transform 0.4s ease,
        flex 0.4s ease;
    overflow: inherit;
    box-shadow: none;
    border-radius: 0;
    border: 0;
}

.sb-sideHeader {
    //width: 100%;
    line-height: 32px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    overflow: visible;
    border-bottom: thick;
}

/* Top section inside left pane Header */
.sb-side-top {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    justify-content: center;
}

.sb-sidebar-body {
    //width: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    overflow: auto;
    scroll-padding: 1ch;
}

/* Right pane – flex centers its content */
.sb-content {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    //flex-basis: var(--content-width);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: flex 0.4s ease;
    width: 100%;
    height: 100%;
    overflow: auto;
}

/* Hover strip – only when left hidden */
.sb-hoverStrip {
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 100%;
    background: transparent;
    cursor: pointer;
    z-index: 3;
    border: none;
    display: block;
}

.sb-pin,
.sb-fakepin {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' %3F%3E%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Crect data-name='Square' fill='none' height='18' id='Square-2' rx='2' ry='2' stroke='%23000000' stroke-miterlimit='10' stroke-width='1.2' width='18' x='3' y='3'/%3E%3Cline fill='none' stroke='%23000000' stroke-miterlimit='10' stroke-width='1.5' x1='9' x2='9' y1='21' y2='3'/%3E%3C/svg%3E%0A");
}

.sb-pin {
    margin: 14px;
}

.sb-unpin {
    margin: 14px 0 14px 14px;
}

.sb-pin {
    z-index: 200;
}

.sb-fakepin {
    position: absolute;
    z-index: 0;
    top: 16px;
    left: 16px;
    background-color: transparent;
}

.sb-unpin {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' %3F%3E%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Crect data-name='Square' fill='none' height='18' id='Square-2' rx='2' ry='2' stroke='%23000000' stroke-miterlimit='10' stroke-width='1.2' width='18' x='3' y='3'/%3E%3C/svg%3E%0A");
}
/* Common styles for pin/unpin buttons */
.sb-unpin,
.sb-pin,
.sb-fakepin {
    display: block;
    height: 26px;
    width: 26px;
    padding-block: 0;
    padding-inline: 0;
    border: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-self: flex-start;
    background-color: transparent;
}

.sb-wrapper {
    /* Visible sidebar */
    &:not(.sb-collapsed) {
        .sb-hoverStrip {
            display: none;
        }

        .sb-sidebar {
            //flex-basis: var(--sidebar-width);
            margin-right: 10px;
            //box-shadow: 2px 2px 10px rgb(0 0 0 / var(--sidebar-width));
            border: 1px solid var(--border-color);
            border-radius: 10px;
            width: max-content;
        }

        .sb-fakepin {
            visibility: hidden;
            opacity: 0;
            transition: opacity 0.4s ease-out; /* Transition opacity for a smooth fade */
        }
    }

    /* Hidden sidebar */
    &.sb-collapsed {
        .sb-hoverStrip {
            display: block;
        }

        .sb-sidebar {
            transform: translateX(-100%);
            flex-basis: 0;
            box-shadow: none;
            width: 0;
            overflow: hidden;
        }

        .sb-content {
            flex-basis: 100%;
            border-left: none;
        }

        .sb-fakepin {
            visibility: visible;
            opacity: 1;
            transition:
                opacity 0.4s ease-in,
                visibility 0.2s 0.2s; /* Fade out, then hide */
        }
    }

    /* Unpinned sidebar */
    &:not(.sb-pinned) {
        .sb-pin {
            visibility: visible;
        }

        .sb-unpin {
            visibility: hidden;
        }
    }

    /* Pinned sidebar */
    &.sb-pinned {
        .sb-pin {
            visibility: hidden;
        }

        .sb-unpin {
            visibility: visible;
        }

        .sb-sidebar {
            box-shadow: none;
            border-radius: 0;
            border: 0;
            margin-right: 0;
        }
    }
}
