.sb-sidebar-body {
    a {
        display: flex;
        width: 100%;
        color: var(--4-color);
        box-sizing: border-box;
        transition: all 0.5s ease;
        height: 30px;
        line-height: 30px;
        cursor: pointer;
    }

    a.active,
    a:hover {
        color: var(--d-color);
        background: var(--6-color);
    }

    a i {
        font-size: 20px;
        margin-left: 16px;
        margin-right: 16px;
        align-content: center;
    }

    a span {
        letter-spacing: 1px;
    }

    .faq-buttons {
        padding-left: 10px;
        transition: all 0.5s ease;

        a {
            height: 30px;
            line-height: 30px;
        }

        a.active,
        a:hover {
            color: var(--d-color);
            background: var(--6-color);
        }
    }
}
