.sb-sidebar-body {
    a {
        display: flex;
        width: 100%;
        color: var(--4-color);
        box-sizing: border-box;
        transition: all 0.5s ease;
        line-height: 30px;
        cursor: pointer;
    }

    a.active,
    a:hover {
        color: var(--d-color);
        background: var(--6-color);
    }

    a i {
        font-size: 20px;
        margin-left: 16px;
        margin-right: 16px;
        align-content: center;
    }

    .faq-buttons {
        padding-left: 10px;
        transition: all 0.5s ease;
        display: flex;
        flex-direction: column;
        a {
            align-items: baseline;
        }
        a.active,
        a:hover {
            color: var(--d-color);
            background: var(--6-color);
        }
        .faq-question {
            text-align: left;
        }
    }
}
