.input-submit[data-descr],
.tooltip[data-descr] {
    cursor: help;
}

.input-submit[data-descr]:hover::after,
.tooltip[data-descr]:hover::after {
    content: attr(data-descr);
    position: absolute;
    background-color: var(--cx58-color);
    z-index: 1;
    border-width: 1px;
    border-style: solid;
    color: #fff;
    border-color: var(--text-color);
    border-image: initial;
    border-radius: 5px;
    padding: 5px;
    font-family:
        system-ui,
        -apple-system,
        sans-serif;
    font-weight: normal;
}

.input-submit[data-descr]:hover::after {
    top: -25px;
}
.tooltip[data-descr]:hover::after {
    top: 30px;
}
